/*  Custom styles for GitHub.com by James Goode (@everycopy)
============================================================================ */

/* GitHub: github.com
============================================================================ */

/* Make the height of the language stats bar much smaller */

.repository-lang-stats-graph, .language-color {
  transition: all .125s ease-in-out;
  line-height: 3px !important;
}

.repository-lang-stats-graph:hover, .repository-lang-stats-graph:hover .language-color {
  line-height: 12px !important;
}
