/*  Custom styles for GitHub.com by James Goode (@everycopy)
============================================================================ */

/* GitHub & Gist: github.com & gist.github.com
============================================================================ */

.header {
  position: fixed;
  z-index: 90001;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
}

.header-logged-out {
  background-color: #fff !important;
}

.header-logged-out + .site {
  padding-top: 65px !important;
}

.header-logged-out + .site-content {
  padding-top: 45px !important;
}

.header-logged-in + .site, .header-logged-in + .site-content {
  padding-top: 41px !important;
}

#readme, .bubble {
  padding: 0 !important;
}

.commit-tease {
  border-color: #c7d1d5 !important;
  border-bottom-color: #d8e6ec !important;
}

.files {
  border-color: #ddd !important;
}

#readme .name {
  border-color: #ddd !important;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#readme .markdown-body {
  border-color: #ddd !important;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* GitHub: github.com
============================================================================ */

.repository-lang-stats-graph, .language-color {
  line-height: 3px !important;
}

/* GitHub Help: help.github.com
============================================================================ */

#header {
  position: fixed !important;
  width: 100%;
}

#header + #content-wrapper {
  padding-top: 78px !important;
}
